# Variables 
# Python desde cero hasta analisis estadisticos con Pandas con Numpy
# Toma la descision utilizando la tecnologia disponible

* Una variable en Python es la reserva de una ubicacion de memoria para almacenar valores.En otras palabras,
* una variable en un programa de Python proporciona datos a la computadora para su procesamiento.

In [6]:
numero_sin_decimal = 100     #un entero
precio_euro = 1.34           #una variable punto flotante
nombre = "Luis D. Morales"   #una cadena

#imprimir las variables para ser vistas
print("Este numero es entero: ", numero_sin_decimal)
print("Este numero contiene decimal: ", precio_euro)
print("Quien esta tomando el curso de python: ", nombre)

Este numero es entero:  100
Este numero contiene decimal:  1.34
Quien esta tomando el curso de python:  Luis D. Morales

In [7]:
#Las variables pueden ser declaradas por cualquier nombre, siguiendo las siguientes reglas:

#Los nombres de las variables pueden contener letras, numeros y guiones bajos.
#Los nombres de las varibles deben comenzar con una letra o guien bajo, nunca con un numero
#Los nombre son sencibles a mayúsculas y minúsculas

In [11]:
numero_sin_decimal = 100                                               #Un entero
precioEuro = 1.34                                                      #Una variable con punto flotante
_nombre = "Luis David Morales A."                                       #Una cadena
l35l4 = ['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None]  #lista
print(l35l4)
print(_nombre)

['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None]
Luis David Morales A.

In [9]:
#Cada valor en Python tiene un tipo de datos que es dinámico (puede cambiar durante la ejecución del programa).

In [12]:
numero_sin_decimal = 100     #un entero
precio_euro = 1.34           #una variable punto flotante
nombre = "Luis D. Morales"   #una cadena

#imprimir las variables para ser vistas
print("Este numero es entero: ", numero_sin_decimal)
print("Este numero contiene decimal: ", precio_euro)
print("Quien esta tomando el curso de python: ", nombre)

print()             #separamos las impresiones

numero_sin_decimal = nombre     #un entero
precio_euro = None              #una variable punto flotante
nombre = 123                    #una cadena

#imprimir las variables para ser vistas
print("Este numero es entero: ", numero_sin_decimal)
print("Este numero contiene decimal: ", precio_euro)
print("Quien esta tomando el curso de python: ", nombre)

Este numero es entero:  100
Este numero contiene decimal:  1.34
Quien esta tomando el curso de python:  Luis D. Morales

Este numero es entero:  Luis D. Morales
Este numero contiene decimal:  None
Quien esta tomando el curso de python:  123

# Los diferentes tipos de datos en Python son Números, Listas, Tuplas, Cadenas, Diccionarios, etc.
# //////////////    lista /////////////////////////////////////////////////////////////////////

In [15]:
lista = ['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None]  #lista

print(lista)

['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None]

In [16]:
#Si queremos un datos dentro de la lista
# La lsita comienza el indice para ubicar el dato desde0. Es decir que el primer dato seria lista[0].
# El segundo dato seria lista[1], y asi sucesivamente.

print(lista[1], lista[3])

Luis D. Morales

In [17]:
#Tamaño de una lista
print("La lista antes creada tiene: ", len(lista), " elementos.")

La lista antes creada tiene:  6  elementos.

In [18]:
#Anexar datos a una lista
lista.append("otro dato mas")
print(lista)

['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None, 'otro dato mas']

In [13]:
#Unir listas
lista_otra=["usuario", 12345]
lista = lista + lista_otra
print(lista)

NameError: name 'lista' is not defined

In [15]:
#Si se necesita datos especificos: Luis D., 123, Morales, 1.32
print(lista[1:4]) # Los indices estas desde el indice 1 al 4.

NameError: name 'lista' is not defined

In [22]:
lista.remove(12345) # Borrar un dato dentro de la lista
print(lista)

['asadfghzxcvbqwertt', 'Luis D.', 123, 'Morales', 1.32, None, 'otro dato mas', 'usuario']

In [23]:
123 in lista # Determina si un valor esta dentro de la lista

True

In [11]:
#Tupla /////////////////////////////////////////////////////////////////////////////////////////

In [17]:
tupla = ('arroz', 'vaca', 2021, 1975)  #tupla
print(tupla)

('arroz', 'vaca', 2021, 1975)

In [18]:
#Si queremos un dato dentro de una tupla
# La tupla comienza el indice para ubicar el dato desde 0. Es decir que el primer dato seria tupla[0]
# El segundo seria tupla[1] y así sucesivamente

print(tupla[1], tupla[3])

vaca 1975

In [19]:
# Tamaño de la tupla
print("La tupla antes creada tiene: ", len(tupla)," elementos")

La tupla antes creada tiene:  4  elementos

In [21]:
# Anexar datos a una tupla
tupla = tupla+("otro dato mas",)
print(tupla)

('arroz', 'vaca', 2021, 1975, 'otro dato mas', 'otro dato mas')

In [22]:
# Una tupla de listas
lista1=[1,2,3]
lista2=[6,7,8]
tupla1_=(lista1, lista2)
print(tupla1_)

([1, 2, 3], [6, 7, 8])

In [23]:
# //////////////////////////////// Numeros /////////////////////////////////////////////

In [24]:
# Entero
valor_1 = 1
valor_2 = 3
suma = valor_1 + valor_2
print(suma)

4

In [25]:
#Float
largo_n = 1.5
ancho_m = 3
area = largo_n + ancho_m
print(area)

4.5

In [26]:
# //////////////////// Cadenas //////////////////////////////

In [27]:
varstr1 = 'Hola mundo!' # Cadena
var_str_2 = 'Nadie conoció la mente humana mejor que Sócrates' #Cadena

#Tamaños de las cadenas
print("La variable varstr1 teine ", len(varstr1), " caracteres")
print("La variable var_str_2 teine ", len(var_str_2), " caracteres")

La variable varstr1 teine  11  caracteres
La variable var_str_2 teine  48  caracteres

In [28]:
print("varstr1[0]: ",varstr1[0]) #Imprime la 'H'
print("var_str_2[10:20]: ", var_str_2[10:20] ) #Imprime  'ció de la men'

varstr1[0]:  H
var_str_2[10:20]:  ció la men

In [31]:
#Eliminar los espacios vacios antes y despues del texto
varstr11='     Hola Mundo!     '#Cadena
print("Antes de eliminar los espacios vacios en varstr11:", varstr11 )

var_nueva = varstr11.strip()
print("Despues de eliminar los espacios vacios en var_nueva: ", var_nueva)

Antes de eliminar los espacios vacios en varstr11:      Hola Mundo!
Despues de eliminar los espacios vacios en var_nueva:  Hola Mundo!

In [33]:
print("varstr11 sigue teniendo los espacios vacios", varstr11)

varstr11 = varstr11.strip() #Se eliminan los espacios vacios y el resultado se guarda en el mismo nombre
print("varstr11 sin espacios vacios", varstr11)

varstr11 sigue teniendo los espacios vacios      Hola Mundo!
varstr11 sin espacios vacios Hola Mundo!

In [34]:
print(var_str_2.lower()) #Imprime todos los carecteres en minusculas
print(var_str_2.upper()) #Imprime todos los caracteres en mayusculas
print("Cambiamos la 'o' por la 'a' : ", var_str_2.replace("o", "a")) #Cambiamos la o por a
print("Cambiamos la 'o' por la 'a' y eliminamos la 'n': ", var_str_2.replace("o", "a").replace("n", "")) #Cambiamos la o por a

nadie conoció la mente humana mejor que sócrates
NADIE CONOCIÓ LA MENTE HUMANA MEJOR QUE SÓCRATES
Cambiamos la 'o' por la 'a' :  Nadie canació la mente humana mejar que Sócrates
Cambiamos la 'o' por la 'a' y eliminamos la 'n':  Nadie caació la mete humaa mejar que Sócrates

In [36]:
print("Texto original: ", var_str_2)

#Creamos una lista a partir de un caracter divisorio
lista_ = var_str_2.split('o') #Separa por la letra 'o'
print(lista_)

Texto original:  Nadie conoció la mente humana mejor que Sócrates
['Nadie c', 'n', 'ció la mente humana mej', 'r que Sócrates']

In [38]:
print(var_str_2.isnumeric()) # es un numero lo que almacena la variable var_str_2?
var = "2"
print(var.isnumeric())

False
True

In [6]:
var_new = "Nadie conoció la mente humana mejor que Sócrates"
print("Texto original: ", var_new)

#Contar la cantidad de un caracter
print("Cantidad de 'o' en el texto: ",var_new.count('o'))
print("Cantidad de ' ' en el texto: ",var_new.count(' '))
print("Cantidad de '*' en el texto: ",var_new.count('*'))

Texto original:  Nadie conoció la mente humana mejor que Sócrates
Cantidad de 'o' en el texto:  3
Cantidad de ' ' en el texto:  7
Cantidad de '*' en el texto:  0

In [7]:
var_new = "Nadie conoció la mente humana mejor que Sócrates"
print("Texto original: ", var_new)
print() #Separacion

#Imprimir en otra linea nueva '\n' y con tabulacion '\t'
var_new += "\n\t Tambien fue maestro de Platón"
print("Texto en dos lineas y contabulacion \n\t", var_new)

Texto original:  Nadie conoció la mente humana mejor que Sócrates

Texto en dos lineas y contabulacion
	 Nadie conoció la mente humana mejor que Sócrates
	 Tambien fue maestro de Platón