# OPERADORES

## En este apartado veremos los siguientes tipos de operadores. ##

* Aritméticos
* Relacionales o comparación
* Asignación
* Lógicos
* in (membresía)
* is (identidad)

### Aritméticos

In [2]:
valor1 =13
valor2 =5

#suma
print("Suma: ", valor1 + valor2)

#resta
print("Resta: ", valor1 - valor2)

#multiplicacion
print("Multiplicacion: ", valor1 * valor2)

#division
print("Division: ", valor1 / valor2)

Suma:  18
Resta:  8
Multiplicacion:  65
Division:  2.6

In [3]:
# Division redondeo hacia abajo
print("Division redondeo piso: ", valor1 // valor2)

Division redondeo piso:  2

In [4]:
# Residuo de una division
print(valor1, "dividido ", valor2, " redondeado hacia abajo es ", valor1//valor2,
     "\nY", valor1, "menos (", valor2,"multiplicado", valor1//valor2, "), es el residuo: ", valor1%valor2)

13 dividido  5  redondeado hacia abajo es  2
Y 13 menos ( 5 multiplicado 2 ), es el residuo:  3

In [6]:
# Potencia
print(valor1, "elevado a ", valor2, "es: ", valor1**valor2)

13 elevado a  5 es:  371293

# Comparación

In [2]:
val1=13
val2=5

# Igualdad
print("Val1 y val2 son iguales", val1==val2)

Val1 y val2 son iguales False

In [3]:
# Diferentes
print("Val1 y val2 son iguales", val1!=val2)

Val1 y val2 son iguales True

In [4]:
# Desiguladad
print("Es val1 > val2", val1>val2)
print("Es val1 < val2", val1<val2)
print("Es val1 >= val2", val1>=val2)
print("Es val1 <= val2", val1<=val2)

Es val1 > val2 True
Es val1 < val2 False
Es val1 >= val2 True
Es val1 <= val2 False

In [5]:
cad1 = "hola"
cad2 = "hola"

# Igualdad
print("cad1 y cad2 son iguales", cad1==cad2)

# Diferentes
print("cad1 y cad2 son diferentes", cad1!=cad2)

# Desiguladad
print("Es cad1 > cad2", cad1>cad2)
print("Es cad1 < cad2", cad1<cad2)
print("Es cad1 >= cad2", cad1>=cad2)
print("Es cad1 <= cad2", cad1<=cad2)

cad1 y cad2 son iguales True
cad1 y cad2 son diferentes False
Es cad1 > cad2 False
Es cad1 < cad2 False
Es cad1 >= cad2 True
Es cad1 <= cad2 True

# Asignación

In [6]:
# Asigna una valor a una variable '='.
nombre='Luis'
edad=23
lista=[1,2,3,4,5,6,7]

In [8]:
# Sumar y concatenar(cadena) o sumar (numero) +=
nom='Luis'
nom+=' Morales'
print(nom)

Luis Morales

In [9]:
numero=12
print("Antes de sumar ", numero)
numero+=13
print("Después de sumar ", numero)

Antes de sumar  12
Después de sumar  25

In [10]:
diccionario={'limon':0, 'manzana':12 , 'guayaba':1}
print("Antes de sumar limones ",diccionario)
diccionario['limon']+=10
print("Después de sumar limones ", diccionario)

Antes de sumar limones  {'limon': 0, 'manzana': 12, 'guayaba': 1}
Después de sumar limones  {'limon': 10, 'manzana': 12, 'guayaba': 1}

In [12]:
valor1=133 #Establecemos un valor
print("Valor original ", valor1)

# Le restamos 33 al valor
valor1 -=33
print("Restando 33 ", valor1)

# Le multiplicamos 2 al valor que nos queda
valor1 *=2
print("Multiplicado por 2 ",valor1)

# le dividimos 100 al valor que nos queda
valor1/=100
print("Dividimos entre 100", valor1)

# Lo elevamos al cubo
valor1**=3
print("Elevado al cubo ", valor1)

Valor original  133
Restando 33  100
Multiplicado por 2  200
Dividimos entre 100 2.0
Elevado al cubo  8.0

In [13]:
# Tarea para revisar
valor1//=0.5
print(valor1)
valor1%=3
print(valor1)

16.0
1.0

# Lógicos

In [4]:
# and si y solo si, Todas los operaciones son True daran como resultado True.
print("True and True: ", True and True)
print("True and False: ", True and False)
print("False and False: ", False and False)
print("False and True: ", False and True)

True and True:  True
True and False:  False
False and False:  False
False and True:  False

In [8]:
# Ejemplo de and
print('(2>1) and true: ', (2>1) and True)
print('(2>1) and (3==3): ', (2>1) and (3==3))

(2>1) and true:  True
(2>1) and (3==3):  True

In [9]:
# Or si cualquier operacion es true es resultado sera true
print("True or True: ", True or True)
print("True or False: ", True or False)
print("False or False: ", False or False)
print("False or True: ", False or True)

True or True:  True
True or False:  True
False or False:  False
False or True:  True

In [7]:
# Ejemplo de or
print('(2>1) or false: ', (2>1) or false)
print('(2>1) or (3>3): ', (2>1) or (3>3))

(2>1) or false:  True
(2>1) or (3>3):  True

In [10]:
# Not para la negacion de la operacion
print(not True)

False

# Membresía

In [12]:
# in Retorna true si un elemento se encuentra contenido dentro de otro
lista=['perro', 'gato', 'conejo', 'mono']
print('gato' in lista)

True

In [13]:
print('loro' in lista)

False

In [14]:
#not in
print('caballo' not in lista)

True

# Identidad

In [17]:
h1 = "Hola mundo" 
h2 = "Hola mundo"
print("==", h1 == h2)
print("is", h1 is h2)

== True
is False

In [18]:
h2 = h1
print("is", h1 is h2)

is True